*{
    margin:0;
    padding:0;
    font-family: "Oswasld", sans-serif;
}

.header_content{
    display: flex;
    -webkit-justify-content: space-between;
    align-items: center;

}
.logo__div{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 100px;


}
.input__div{
    display: flex;
    width: 100px;
    height: 20px;
    align-items: center;
    padding-right: 100px;

}


.menu__ul{
    height: 50px;
    background-color: #5f6368;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    list-style-type: none;

}

.menu__a{
    text-decoration: none;
    color:#000000;
    justify-content: space-between;
    align-content: space-between;
}
.first__part{
    margin-left: 50px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-top-color: black;
    border-top-style: solid;
    width: 60%;
}
.span__posted{
    text-decoration: underline;
    color: rgb(44, 168, 168);
}
.first__part_logo{
    font-size: larger;
    font-weight: bold;
}
.first__part_img{
    width: 100%;
    height: 400px;
}
.first__part_photo_content{
    border-bottom: solid rgba(128, 128, 128, 0.49);
    border-top: solid rgba(128, 128, 128, 0.49);
}
.more{
    width: 100px;
    margin-bottom: 20px;
    margin-left: 90%;
}
.first{
    display: flex;
    padding-top: 50px;
}
.second_u__text{
    width: 200px;
}
.menu__a:hover{
    color:#34a853;
}
.erste__1_img{
    width: 900px;
    padding-top: 20px;
}
.content{
    margin-left: 50px;

}
span{
    text-decoration: underline;
    color: #1a73e8;
}
.erste__1_head{
    padding-bottom: 20px;
}
.content_text{
    padding-bottom: 20px;
    padding-top: 20px;
    width: 900px;
    line-height: 20px;
}
.more{
    margin-top: 20px;
    background-color: #5f6368;
}
.content{
    display: flex;
    flex-direction: column;
}
.erste{
    display: flex;
    flex-direction: row;
}
ol{
    list-style-type: "\2611";
    padding-top: 20px;
    padding-left: 20px;
}
.erste__2{
    margin-left: 250px;
    line-height: 40px;

}
.f__orange{
    width: 300px;
    margin-right: 20px;
}
.first__orange{
    display: flex;
    flex-direction:row;
    padding-top: 50px;

}
.first__orange_date{
    background-color: grey;
    width: 120px;
    border-radius: 20%;
}
.zweite{
    display: flex;
}
footer{
     background-color: #5f6368;
     height: 20%;
     display: flex;
     align-content: center;
     animation: normal;
     justify-content: center;
 }
.company__name{
    text-decoration: underline;
    color: black;
}
.orange_logo{
    color: #2962ff;
}
.orange_text{
    font-size: medium;
}
.moree{
    width: 100px;
    margin-bottom: 20px;
    margin-left: 80%;
    margin-top: 20px;
    background-color: #5f6368;
}
.testi{
    padding-top: 150px;
}
